# Byte-compiled / cache
__pycache__/
*.py[cod]
.Python
.pytest_cache/

# Virtual environments
.env
.venv/
venv/

# Coverage / reports
.coverage
coverage.xml
htmlcov/

# Editors
.idea/
.vscode/

# Misc
*.log
*.tmp
/.mypy_cache/
